@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Raleway:wght@500;700&display=swap");

:root {
  --branding-color: #715550;
  --bg-primary-color: #f8f5f0;
  --bg-secondary-color: #ede9e5;
  --bg-tertiary-color: #ded6ce;
  --text-primary-color: #333;
  --text-secondary-color: #595959;
  --box-shadow: 0 16px 14px rgba(0, 0, 0, 0.1);
  --title-font: "Playfair Display", "Times New Roman", Times, serif;
  --standard-font: "Raleway", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-primary-color);
  font-family: var(--standard-font);
  font-weight: 500;
  margin-top: 100px;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
}

strong {
  font-weight: bold;
}

p {
  font-family: var(--standard-font);
  font-size: 0.875rem;
  line-height: 2rem;
  margin-top: 2rem;
}

/* Navigation bar */

.navbar {
  /*background-color: var(--bg-primary-color) !important; */
  background-color: #fff !important;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.navbar-brand {
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--text-primary-color) !important;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a.nav-link.active {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
  background-repeat: repeat-x;
  background-size: 1px 1px;
}

li.nav-item {
  margin-left: 3rem;
}

/* Hero section */
.hero {
  margin: 10rem auto;
}

.y-align {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Quote section */

.quote {
  background-color: var(--bg-tertiary-color);
  padding: 10rem 0;
}

.quote h3 {
  font-style: italic;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

/* Gallery section */
.no-x-space {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.row.no-x-space > img {
  width: 625px;
}

/* extra section */

.container.extra {
  padding-bottom: 10rem;
  padding-top: 10rem;
}

.container.extra img {
  min-width: 480px;
}

.square {
  background-color: #fff;
  max-width: 480px;
  padding: 3rem;
}

footer.container-fluid {
  background-color: var(--bg-tertiary-color);
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

@media (max-with: 768) {
  .container.extra img {
    min-width: auto;
  }
}
