@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Raleway:wght@500;700&display=swap");

:root {
  --branding-color: #715550;
  --bg-primary-color: #f8f5f0;
  --bg-secondary-color: #ede9e5;
  --bg-tertiary-color: #ded6ce;
  --text-primary-color: #333;
  --text-secondary-color: #595959;
  --box-shadow: 0 16px 14px rgba(0, 0, 0, 0.1);
  --heading-font-family: "Playfair Display", "Times New Roman", Times, serif;
  --default-font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-primary-color);
  font-family: var(--default-font-family);
  font-weight: 500;
  margin-top: 100px;
}

h1,
h2 {
  font-family: var(--heading-font-family);
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
}

h3 {
  font-size: 0.875rem;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

p {
  font-family: var(--default-font-family);
  font-size: 0.875rem;
  line-height: 2rem;
  margin-top: 2rem;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}
/* Navigation bar */

.navbar {
  /*background-color: var(--bg-primary-color) !important; */
  background-color: #fff !important;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.navbar-brand {
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--text-primary-color) !important;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a.nav-link.active {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
  background-repeat: repeat-x;
  background-size: 1px 1px;
}

.nav-link:hover,
a.nav-link.active:hover {
  background-color: var(--bg-primary-color);
  opacity: 0.8 !important;
  transition: all 500ms ease-in-out;
}

li.nav-item {
  margin-left: 3rem;
}

/* Hero section */
.block,
.block--sub--block {
  margin: 10rem auto;
}

.y-align {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Quote section */

.quote {
  /*background-color: var(--bg-tertiary-color);*/
  background-color: #fff;
  padding: 10rem 0;
}

.quote h2 {
  font-style: italic;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

/* Gallery section */
.no-x-space {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.row.no-x-space > img {
  width: 625px;
}

/* block--square--text section */

.container.block--square--text {
  padding-bottom: 10rem;
  padding-top: 10rem;
}

.container.block--square--text img {
  min-width: 480px;
}

img.img-fluid.abs {
  left: -4rem;
  position: absolute;
  top: -4rem;
  z-index: -1;
}

.square {
  background-color: #fff;
  padding: 3rem;
  z-index: 1;
}

.thumbnails {
  margin-top: 3rem;
}

.row-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-flex.start {
  align-items: flex-start;
}

.row-flex.end {
  align-items: flex-end;
}

.work-x {
  width: 70%;
}

.work-y,
.work-x {
  margin-bottom: 4rem;
}

.work-y h2,
.work-x h2 {
  margin-top: 1rem;
}

.work-y p,
.work-x p {
  margin-top: 1rem;
}

footer.container-fluid {
  background-color: var(--bg-tertiary-color);
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

footer a {
  color: var(--text-primary-color);
  font-weight: bold;
}

footer a:hover {
  color: var(--text-primary-color);
}

.img-credits {
  color: rgba(51, 51, 51, 0.5);
  display: block;
  margin: 0 auto;
}

.img-credits,
.img-credits a {
  color: rgba(51, 51, 51, 0.5);
}

.img-credits a,
footer a {
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

footer a:hover,
.img-credits a:hover {
  text-decoration: underline;
  transition: all 300ms ease-in-out;
}

a.contact {
  color: var(--text-primary-color);
  font-size: 0.875rem;
  font-weight: bold;
  transition: all 300ms ease-in-out;
}

a.contact:hover {
  opacity: 0.8;
  transition: all 300ms ease-in-out;
}

/* Microanimations */

/* Scroll reveal effect */
.reveal-element {
  opacity: 0;
  transform: translateY(1.875rem); /* Opcional: Mueve el elemento hacia abajo para un efecto adicional */
  transition: opacity 0.8s ease, transform 0.8s ease;
}
/* Left side animation */
.animated-element {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2s ease, transform 2s ease;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  p {
    margin-top: 1rem;
  }

  a.nav-link.active {
    max-width: 25%;
  }

  .rel,
  .img-fluid.abs {
    position: static !important;
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
  }

  .block {
    margin: 8rem auto 4rem;
  }

  .block img,
  .block--sub--block img {
    margin-top: 1rem;
  }

  .block--sub--block {
    margin: 4rem auto 4rem;
  }

  .no-x-space {
    margin-bottom: 1rem;
  }

  .quote {
    padding: 4rem 0;
  }

  .square {
    padding: 1rem;
  }

  .container.block--square--text {
    padding-bottom: 4rem;
    padding-top: 2.5rem;
  }

  .container.block--square--text img {
    min-width: auto;
  }

  .thumbnails {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .thumbnails img {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .work-y,
  .work-x {
    margin-bottom: 3rem;
  }

  .work-x {
    width: 100%;
  }

  a.contact {
    margin-bottom: 3rem;
  }
}
